[submodule "wp-cache-bucket"]
	path = wp-cache-bucket
	url = git@github.com:voceconnect/wp-cache-bucket.git
[submodule "tlc-transients"]
	path = tlc-transients
	url = git@github.com:markjaquith/WP-TLC-Transients.git
[submodule "voce-cached-nav"]
	path = voce-cached-nav
	url = git@github.com:voceconnect/voce-cached-nav.git
[submodule "voce-widget-cache"]
	path = voce-widget-cache
	url = git@github.com:voceconnect/voce-widget-cache.git
[submodule "no-stampede-actions"]
	path = no-stampede-actions
	url = git@github.com:voceconnect/no-stampede-actions.git
